.toolbar {
	align-items: center;
	background: #000;
	border-radius: 2px;
	display: flex;
	flex-direction: row-reverse;
	padding: 6px;
	position: absolute;
	right: 0;

	.item {
		align-items: center;
		display: flex;
		height: 30px;
		justify-content: center;
		padding: 0 6px;
		width: 30px;
	}
}
