.toolbar {
	align-items: center;
	background: rgba(80, 71, 64, 1);
	border-radius: 4px 4px 0px 0px;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: row-reverse;
	height: 48px;
	padding: 0 32px 0 8px;
	position: absolute;
	right: 0;
	z-index: 101;

	.item {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-left: 24px;
	}

	.tool {
		position: relative;
	}

	.line {
		background: #736b66;
		height: 16px;
		width: 1px;
	}
}

.setting-container {
	background: #302b29;
	border-radius: 4px;
	display: flex;
	height: 30px;
	left: 0;
	padding: 0 12px;
	top: 35px;
}

.setting-thickness {
	align-items: center;
	display: flex;
	height: 100%;

	.point {
		background: #5e5a57;
		border-radius: 50%;
	}

	.small {
		height: 6px;
		margin-right: 12px;
		width: 6px;
	}

	.middle {
		height: 9px;
		margin-right: 12px;
		width: 9px;
	}

	.large {
		height: 12px;
		width: 12px;
	}
	.active {
		background: #fff;
	}
}

.setting-color {
	align-items: center;
	display: flex;
	height: 100%;
	margin-left: 12px;
	width: 152px;

	.active {
		border: 1px solid #fff;
	}

	> div {
		border: 1px solid #fff0;
		height: 18px;
		margin-right: 6px;
		width: 18px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.setting-fontsize {
	background: #dad5d2;
	color: #797471;
	font-size: 12px;
	font-weight: 500;
	height: 22px;
	line-height: 22px;
	margin: 4px 0;
	position: relative;
	text-align: center;
	width: 80px;

	.selected {
		align-items: center;
		display: flex;
		justify-content: space-around;
		padding: 0 6px;
	}

	.list {
		background: #7c7974;
		border-radius: 4px;
		bottom: 32px;
		color: #fff;
		display: none;
		position: absolute;
		text-align: center;
		width: 80px;

		div {
			height: 26px;
			line-height: 26px;
			width: 100%;

			&:hover {
				color: #47c65b;
			}
		}
	}

	.active {
		display: block;
	}
}
