.toolbar {
	align-items: center;
	background: #4c453c;
	border-radius: 2px;
	display: flex;
	flex-direction: row-reverse;
	padding: 6px;
	position: absolute;
	right: 0;
	z-index: 101;

	.item {
		align-items: center;
		display: flex;
		height: 30px;
		justify-content: center;
		padding: 0 6px;
		width: 30px;
	}

	.tool {
		position: relative;
	}
}

.setting-container {
	background: #302b29;
	border-radius: 4px;
	display: flex;
	height: 30px;
	left: 0;
	padding: 0 12px;
	top: 35px;
}

.setting-thickness {
	align-items: center;
	display: flex;
	height: 100%;

	.point {
		background: #5e5a57;
		border-radius: 50%;
	}

	.small {
		height: 4px;
		margin-right: 12px;
		width: 4px;
	}

	.middle {
		height: 9px;
		margin-right: 12px;
		width: 9px;
	}

	.large {
		height: 12px;
		width: 12px;
	}
	.active {
		background: #fff;
	}
}

.setting-color {
	align-items: center;
	display: flex;
	height: 100%;
	margin-left: 12px;

	.active {
		border: 1px solid #fff;
		margin: 0 2px;
	}

	> div {
		height: 18px;
		margin: 0 3px;
		width: 18px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}
