.container {
	align-items: center;
	background: #000;
	border-radius: 2px;
	bottom: -35px;
	display: flex;
	padding: 6px;
	position: absolute;
	right: 0;

	.item {
		height: 30px;
		width: 30px;
	}
}
