$baseColor: #488ff9;
body {
	cursor: url('./assets/imgs/cursor.ico'), auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	user-select: none;
	#kss {
		left: 0;
		position: fixed;
		top: 0;
		z-index: 10000;
	}
	#kssScreenShotWrapper {
		background: transparent;
		box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
		position: fixed;
		z-index: 10001;
		#kssTextLayer {
			cursor: crosshair;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 98;
			.kssTextarea {
				background: transparent;
				border-color: transparent;
				box-sizing: border-box;
				font-family: 宋体;
				min-height: 36px;
				min-width: 60px;
				overflow: hidden;
				resize: none;
				&:hover {
					cursor: text;
					outline: #488ff9 solid 1px;
				}
			}
		}
		#kssRectangleCanvas {
			cursor: move;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 99;
		}
		.kssDot,
		.kssLine {
			background: $baseColor;
			position: absolute;
			z-index: 100;
		}
		#kssCurrentImgDom {
			display: none;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
		#kssToolbar {
			background: #f1f1f1;
			border: 1px solid #dedede;
			border-radius: 4px;
			box-sizing: border-box;
			font-size: 14px;
			position: absolute;
			right: 0;
			z-index: 100;
			.kssToolbarItemBT {
				cursor: pointer;
				display: inline-block;
				float: right;
				height: 28px;
				text-align: center;
				width: 30px;
				&:hover {
					background: #dedede;
				}
				.kssToolbarItemImg {
					height: 20px;
					margin-top: 5px;
					width: 20px;
				}
			}
			.kssToolbarActiveItemBT {
				background: #dedede;
			}
			#kssToolbarMiddleArea {
				#kssColorBoard {
					background: #fff;
					border: 1px solid #bbb;
					border-radius: 4px;
					cursor: default;
					display: none;
					height: 40px;
					outline: none;
					position: absolute;
					right: 0;
					width: 180px;
					z-index: 100;
					#kssCurrentColor {
						border: 1px solid #333;
						box-sizing: border-box;
						display: inline-block;
						height: 30px;
						margin: 5px 8px 0 8px;
						width: 30px;
					}
					#kssColorItemWrapper {
						display: inline-block;
						font-size: 0;
						margin-top: 5px;
						vertical-align: top;
						width: 130px;
						.kssColorItem {
							border: 1px solid #333;
							box-sizing: border-box;
							cursor: pointer;
							display: inline-block;
							height: 14px;
							margin-right: 2px;
							width: 14px;
						}
					}
				}
				#kssSetLineWidth {
					background: #fff;
					border: 1px solid #bbb;
					border-radius: 4px;
					cursor: default;
					display: none;
					height: 40px;
					outline: none;
					position: absolute;
					right: 0;
					width: 155px;
					z-index: 100;
					#kssNumInputWrapper {
						display: inline-block;
						margin: 7px 0 0 8px;
						position: relative;
						#kssNumInput {
							border: 1px solid #bbb;
							border-radius: 4px;
							height: 24px;
							padding: 0 15px 0 8px;
							width: 40px;
						}
						#kssArrowNumWrapper {
							border-radius: 0 4px 4px 0;
							font-size: 0;
							line-height: 12px;
							position: absolute;
							right: 0;
							top: 1px;
							#kssUpNum,
							#kssDownNum {
								cursor: pointer;
								font-size: 12px;
								height: 12px;
								&:hover {
									background: #dedede;
								}
							}
						}
					}
					#kssShowLineWidthWrapper {
						display: inline-block;
						height: 40px;
						line-height: 40px;
						text-align: center;
						vertical-align: top;
						width: 80px;
						#kssShowLineWidth {
							display: inline-block;
							height: 20px;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}
