body {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

html,
body,
#app {
	-webkit-app-region: no-drag;
	overflow: hidden;
	user-select: none;
}

#app {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

svg:not(.no-fill),
svg:not(.no-fill) path {
	fill: currentcolor;
}
