body {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

html,
body,
#app {
	-webkit-app-region: no-drag;
	overflow: hidden;
	user-select: none;
}

#app {
	bottom: 0;
	cursor: crosshair;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
